@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  /* Colors: */
  --blue_3_-f1f6fb: #f1f6fb;
  --green_1_-00e022: #00e022;
  --red_1_-dd3542: #dd3542;
  --gray_1_-8e8e8e: #8e8e8e;
  --gray_2_-dedede: #dedede;
  --gray_3_-cccccc-button-off: #cccccc;
  --gray_4_registros_-f7f7f7: #f7f7f7;
  --white_-ffffff: #ffffff;
  --azul-plomo: #abb9c7;
  --azul-plomo-50-: #abb9c780;
  ---413e4d-input-color: #413e4d;

  /* Font/text values */
  --unnamed-font-family-open-sans: "Open Sans";
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-900: 900px;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-22: 22px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-27: 27px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  overflow: hidden;
}

main {
  z-index: 2;
}

/* ====== Estilos del contenido principal ====== */
.wrapper {
  width: 476px;
  height: 476px;
  text-align: center;
}

.wrapper .login-logo {
  margin: 0px 0px 12px 0px;
}

.wrapper h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    40px/55px var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  text-align: center;
  margin: 0px 0px 8px 0px;
}

.wrapper h3 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  text-align: center;
  letter-spacing: 0px;
}

/* ====== Estilos del Formulario ====== */
.input-container {
  background: #ffffff;
  margin: 32px 0;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 0px 16px #00000029;
}

.input-box input {
  width: 100%;
  height: 56px;
  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--azul-plomo-50-);
  border-radius: 6px;
  padding: 30px 16px 16px 16px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
}

.input-box .input-user {
  margin: 0px 0px 12px 0px;
}

.input-btn {
  width: 174px;
  height: 48px;
  background: var(--red_1_-dd3542) 0% 0% no-repeat padding-box;
  background: #dd3542 0% 0% no-repeat padding-box;
  border-radius: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-22)
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white_-ffffff);
  text-align: center;
  border: none;
  margin: 0px 0px 24px 0px;
}

.lbl-nombre,
.lbl-pass {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--azul-plomo);
  position: absolute;
  transition: all 0.3s ease;
  pointer-events: none;
}

.lbl-focus {
  transform: translateY(-60%);
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 12px / var(--unnamed-line-spacing-22)
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
}

.input-box input:focus {
  outline: 0;
}

.login-forgot-btn {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 12px/17px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}


/* ====== Estilos de las imagenes en el fondo ====== */
.images {
  display: flex;
  position: fixed;
  overflow: hidden;
}

.login-bg-right {
  top: -17.87vh;
  left: 69.7vw;
  background-position: top right;
  overflow: hidden;
}

.login-bg-left {
  top: 51.08vh;
  left: -12.45vw;
  background-position: bottom left;
  z-index: -1;
  overflow: hidden;
}

.login-dot-left {
  top: 47.66vh;
  left: 22.06vw;
}

.login-dot-right {
  top: 72.22vh;
  left: 78.12vw;
}

.login-dots-left {
  top: 33.16vh;
  left: 25.13vw;
}

.login-dots-right {
  top: 79.79vh;
  left: 72vw;
}

.input-box .lbl-nombre {
  top: 2rem;
  left: 2rem;
}

.input-box .lbl-pass {
  top: 6.25rem;
  left: 2rem;
}
