@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;700&display=swap");

:root {
  /* Colors: */
  --blue_3_-f1f6fb: #f1f6fb;
  --green_1_-00e022: #00e022;
  --red_1_-dd3542: #dd3542;
  --gray_1_-8e8e8e: #8e8e8e;
  --gray_2_-dedede: #dedede;
  --gray_3_-cccccc-button-off: #cccccc;
  --gray_4_registros_-f7f7f7: #f7f7f7;
  --white_-ffffff: #ffffff;
  --azul-plomo: #abb9c7;
  --azul-plomo-50-: #abb9c780;
  ---413e4d-input-color: #413e4d;

  /* Font/text values */
  --unnamed-font-family-open-sans: "Open Sans";
  --unnamed-font-family-lato: "Lato";
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-900: 900px;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-22: 22px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-27: 27px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow: scroll;
}

/* ====== Estilos del NAVBAR ====== */
nav {
  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #d1e8ff74;
  display: flex;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  z-index: 2;
  position: sticky;
  top: 0;
}

.logo {
  flex-grow: 1;
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.btn {
  text-decoration: none;
}

.btn i,
.btn img {
  vertical-align: middle;
}

.logout-btn {
  background-color: transparent;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: #31323f;
  cursor: pointer;
}

.logout-icon {
  font-size: 24px;
  margin-left: 12px;
}

/* ====== Estilos del header ====== */
header {
  display: flex;
  justify-content: space-between;
  height: 88px;
  padding: 0px 72px;
  position: relative;
  z-index: 1;
  background-color: var(--white_-ffffff);
  position: sticky;
  top: 72px;
}

.table-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    20px / var(--unnamed-line-spacing-27) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  margin: 32px 0px;
}

.download-btn {
  background: var(--red_1_-dd3542) 0% 0% no-repeat padding-box;
  border-radius: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white_-ffffff);
  text-align: center;
  padding: 14px 50px 14px 14px;
}

.download-icon {
  width: 24px;
  height: 24px;
  margin-right: 25px;
}

.header-btn-container {
  margin-top: 32px;
}

/* ====== Estilos de la Seccion de Filtros ====== */
.filters {
  height: 88px;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 0px 72px;
  position: sticky;
  top: 160px;
}

form {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 272px;
  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--azul-plomo-50-);
  border-radius: 6px;
  margin: 16px 0px;
  padding: 18px 16px 0px 16px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  appearance: none;
}

.filter::placeholder {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--azul-plomo);
  text-align: left;
}

.filter-select {
  height: 58px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  text-align: left;
  appearance: none;
}

.filter-select,
.filter-doc,
.filter-number,
.filter-date-left {
  margin-right: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.calendar-icon {
  width: 24px;
  height: 24px;
  position: absolute;
}

.calendar-icon-left {
  top: 2.125rem;
  left: 73%;
}

.calendar-icon-right {
  top: 2.125rem;
  left: 92%;
}

.cross-icon {
  position: absolute;
  color: var(--white_-ffffff);
  font-size: 12px;
  padding: 6px 7.5px;
  border-radius: 50%;
  background-color: var(--red_1_-dd3542);
  top: 2.125rem;
  left: 1.94vw;
  transition: all 0.3s ease;
}

.select-icon {
  position: absolute;
  top: 24.52vh;
  left: 17.83vw;
  color: var(--red_1_-dd3542);
  font-size: 24px;
  top: 2.125rem;
}

.lbl {
  font-size: 13.5px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--azul-plomo);
  position: absolute;
  transition: all 0.3s ease;
  pointer-events: none;
}

.lbl-number {
  top: 2.125rem;
  left: 41.5%;
}

.lbl-doc {
  top: 2.125rem;
  left: 23%;
}

.lbl-date-left {
  top: 2.125rem;
  left: 60%;
}

.lbl-date-right {
  top: 2.125rem;
  left: 78.5%;
}

.lbl-select {
  top: 2.125rem;
  left: 5.5rem;
}

.lbl-focus {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 12px / var(--unnamed-line-spacing-22)
    var(--unnamed-font-family-open-sans);
  transform: translateY(-60%);
}

#clearButton {
  display: none;
}

/* ====== Estilos de la Tabla de Desembolsos ====== */
table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  overflow-y: scroll;
}

th,
td {
  padding: 16px 0px;
  text-align: left;
  white-space: nowrap;
}

th {
  background-color: #f1f6fb;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / 15px var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  position: sticky;
  top: 248px;
}

td {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) / 15px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--gray_1_-8e8e8e);
}

tr:nth-child(odd) {
  background-color: #f7f7f7;
}

td:nth-child(5) {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / 15px var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--gray_1_-8e8e8e);
  padding-right: 72px;
}

td:nth-child(1),
th:nth-child(1) {
  padding-left: 72px;
}

/* ====== Estilos de la Seccion de Paginacion ====== */
.table-pagination {
  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  width: max-content;
  display: flex;
  padding: 12px;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.01rem;
  gap: .95rem;
  box-shadow: 0px 3px 16px #aaaaaa4d;
  border-radius: 24px 24px 0px 0px;
}

.table-pagination a {
  text-decoration: none;
  color: var(--red_1_-dd3542);
  font-size: 24px;
  margin: 0px 16px;
}

.pagination span {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 20px
    var(--unnamed-font-family-lato);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: #414141;
}

.table-pagination .inputPagina {
  width: 48px;
  height: 48px;
  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--azul-plomo-50-);
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  padding: 2px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 20px
    var(--unnamed-font-family-lato);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: #414141;
}

.registrosPorPagina {
  position: absolute;
  bottom: 45px;
  left: 248px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 12px/15px var(--unnamed-font-family-lato);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--azul-plomo);
  white-space: nowrap;
}

.inputRegistrosPorPagina {
  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--azul-plomo-50-);
  border-radius: 6px;
  appearance: none;
  width: 268px;
  height: 56px;
  text-align: left;
  padding: 28px 52px 8px 16px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 20px
    var(--unnamed-font-family-lato);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: #414141;
}

.select-icon-pagination {
  position: absolute;
  bottom: 2.5vh;
  left: 460px;
  color: var(--red_1_-dd3542);
  font-size: 24px;
}

.arrow-pag {
  font-size: 14px;
}


/* ====== Estilos del Toast ====== */
.table-toast {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  text-align: left;
  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  width: 200px;
  height: 70px;
  padding: 20px;
  z-index: 2;
  position: fixed;
  right: .1rem;
  transform: translateX(-50%);
  bottom: 2.6rem;
  box-shadow: 0px 3px 10px #e6e6e6;
  border-radius: 14px;
}

.table-toast p {
  margin: 0px;
}

.table-toast .cross-icon {
  top: -10px;
  left: 225px;
}
